<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=lkgojmR9Ed">
<link rel="icon" type="image/png" href="/favicon-32x32.png?v=lkgojmR9Ed" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png?v=lkgojmR9Ed" sizes="16x16">
<link rel="manifest" href="/manifest.json?v=lkgojmR9Ed">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=lkgojmR9Ed" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=lkgojmR9Ed">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
