---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page not found">
  <h1>Not found</h1>
  <p class="muted">This page doesn’t exist. Try one of these:</p>
  <ul>
    <li><a class="link" href="/">Home</a></li>
    <li><a class="link" href="/projects/">Projects & Publications</a></li>
    <li><a class="link" href="/writing/">Writing</a></li>
    <li><a class="link" href="/about/">About</a></li>
  </ul>
</BaseLayout>
