---
import BaseLayout from "../layouts/BaseLayout.astro";
import SocialIcons from "../components/SocialIcons.astro";
---

<BaseLayout title="About" description="About Christos Tsirigotis">
  <section class="anchor" id="about-me" style="margin-bottom: 18px;">
  <h1>About me</h1>
  <p>
    I’m <strong>Christos Tsirigotis</strong>. My research explores …
  </p>

  <div style="display:flex; gap:10px; align-items:center; margin: 8px 0 0 0;">
    <SocialIcons size={24} />
  </div>

  <h2>CV</h2>
  <p>
    Download my CV:
    <a class="link" href="/cv/christos-tsirigotis-cv.pdf" download>PDF</a>
    <small>(updated 2025‑10‑25)</small>
  </p>
  </section>

  <section class="anchor" id="about-logotechnologia" style="margin-bottom: 18px;">
  <h1>About logotechnologia</h1>
  <p>
  What does logotechnologia (λογοτεχνολογία) mean? It’s derived from the Greek λόγος (logos, “word” or “reason”) and τεχνολογία (technologia, “technology”), a composite term itself derived from τέχνη (techne, “craft” or “art”) and λόγος (-λογία, -logia, “study of” or “word about”). Alternatively, logotechnologia can be broken down as logotechnia (λογοτεχνία, "word-craft" or "literature") + λόγος. Thus, the term can be either interpreted as "the technology of word/reason" or "the study of word-craft/literature". With this name, I aim to express - shortly and with fascination - the self-reflective nature of the study of reasoning technology; a movement from the world of words to automated reasoners, an advancement in artificial intelligence enabled by probabilistic modeling and deep learning machinery, and from automated reasoners back to the world of words again, through research about these systems and synthetically generated text.
  </p>
  <p>
  As such, this website does not just serve as my personal professional webpage as a researcher. It is a logotechnologia in itself: a medium for communication of findings, ideas and projections about the technology of logos.
  </p>
  </section>

</BaseLayout>
