---
import BaseLayout from "../layouts/BaseLayout.astro";
import SocialIcons from "../components/SocialIcons.astro";
---

<BaseLayout title="About" description="About Christos Tsirigotis & logotechnologia">
  <section class="anchor" id="about-me" style="margin-bottom: 18px;">
  <h1>About me</h1>
  <div class="about-hero" style="margin: 8px 0 16px;">
    <div>
        I’m <strong>Christos Tsirigotis</strong>, a Ph.D. Candidate in Université de Montréal and Mila, the Quebec AI Institute, supervised by Prof. <a href="https://scholar.google.com/citations?user=km6CP8cAAAAJ" class="link" target="_blank" rel="noopener">Aaron Courville</a>. My current research explores representation learning algorithms for robust out-of-distribution generalization in foundational discriminative models and retrieval systems. In the past, I have worked on deep generative models and over the years, since starting my Ph.D., I have gradually shifted my focus towards systematic generalization and foundational models. My work have been published in NeurIPS, ICML, and ICLR, for which I have been serving as a reviewer for many years. I was a visiting reseracher at ServiceNow Research for 2 years, from 2022-2024. My alma mater is Aristotle University of Thessaloniki, Greece, where I obtained a Diploma in Electrical and Computer Engineering (integrated B.Sc + M.Sc) with distinctions. During my studies there I focused on autonomous systems and robotics, while I had the opportunity to be involved for 2 years in Pandora Robotics, developing full-stack autonomous UGV pipelines from perception and data fusion to planning and control.
    </div>
    <picture>
      <source srcset="/images/christos.avif" type="image/avif" />
      <img src="/images/christos_320.png"
           alt="Portrait of Christos Tsirigotis"
           width="320" height="320"
           loading="eager"
           decoding="async"
           class="portrait portrait--hero" />
    </picture>
  </div>
  <p>
  Research topics that I am particularly interested at the moment include:
    <ul>
      <li>Out-of-distribution generalization and robustness in machine learning models</li>
      <li>Improving capabilities of multi-modal foundational models: spatial understanding and grounding, more robust fusion and visual instruction training methods.</li>
      <li>Retrieval-augmented models and retrieval systems</li>
      <li>Probabilistic modeling, deep generative models and sampling: parallel sampling, guided sampling, diverse sampling.</li>
      <li>Exploration and open-endedness</li>
    </ul>
  </p>
  <p>
  Interested in discussing potential collaborations, research ideas, or just want to say hi? Feel free to reach out through any of the social links below!
  </p>

  <div style="display:flex; gap:10px; align-items:center; margin: 8px 0 0 0;">
    <SocialIcons size={36} />
  </div>

  <h2>CV</h2>
  <p>
    Download my CV:
    <a class="link" href="/Tsirigotis_CV__Nov_2025_.pdf" target="_blank" rel="noopener"
   type="application/pdf">PDF</a>
    <small>(updated 2025‑11‑03)</small>
  </p>
  </section>

  <section class="anchor" id="about-logotechnologia" style="margin-bottom: 18px;">
  <h1>About logotechnologia</h1>
  <p>
  What does logotechnologia (λογοτεχνολογία) mean? It’s derived from the Greek λόγος (logos, “word” or “reason”) and τεχνολογία (technologia, “technology”), a composite term itself derived from τέχνη (techne, “craft” or “art”) and λόγος (-λογία, -logia, “study of” or “word about”). Alternatively, logotechnologia can be broken down as logotechnia (λογοτεχνία, "word-craft" or "literature") + λόγος. Thus, the term can be either interpreted as "the technology of word/reason" or "the study of word-craft/literature". With this name, I aim to express - shortly and with fascination - the self-reflective nature of the study of reasoning technology; a movement from the world of words to automated reasoners, an advancement in artificial intelligence enabled by probabilistic modeling and deep learning machinery, and from automated reasoners back to the world of words again, through research about these systems and synthetically generated text.
  </p>
  <p>
  As such, this website does not just serve as my personal professional webpage as a researcher. It is a logotechnologia in itself: a medium for communication of findings, ideas and projections about the technology of logos.
  </p>
  </section>

</BaseLayout>
