---
import BaseLayout from "../layouts/BaseLayout.astro";
import SocialIcons from "../components/SocialIcons.astro";
---

<BaseLayout title="Contact">
  <h1>Contact</h1>
  <p>Email: <a class="link" href="mailto:">you@domain</a></p>
  <!-- <p>Social: <a class="link" href="#">LinkedIn</a> · <a class="link" href="#">GitHub</a> · <a class="link" href="#">X</a></p> -->
  <p><SocialIcons /></p>
</BaseLayout>
