<footer class="footer">
  <div class="wrapper--wide" style="padding:0;">
    <small>© {new Date().getFullYear()} • Built with Astro • <a class="link" href="https://github.com/tsirif/tsirif.github.io">Source</a></small>
  </div>
</footer>
