---
import DarkToggle from "./DarkToggle.astro";
---

<footer class="footer">
  <div class="wrapper--wide" style="padding:0; display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between; gap:12px;">
    <small>
    © {new Date().getFullYear()} • Built with Astro •
    <a class="link" href="https://github.com/tsirif/tsirif.github.io">Source</a> •
    <a class="link" href="/rss.xml" type="application/rss+xml">RSS</a> •
    <a class="link" href="/atom.xml" type="application/atom+xml">Atom</a>
    </small>
    <div><DarkToggle /></div>
  </div>
</footer>
